[build]
base = "."
command = "npm install --prefix client && npm run build --prefix client"
publish = "client/dist"

[build.environment]
NODE_VERSION = "20.19.0"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
